.App {
  padding-top: 4rem;
  margin: auto;
}

body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  margin: 20px;
  max-width: 250px;
  margin-bottom: 0px;
}

.card-deck {
  width: 30%;
}

.card-header {
  text-align: center;
}

.card:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.card-container {
  margin: 0 auto;
}

.card-body {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 3;

  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;

  border-radius: 10px;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}
